{% set color_bar_code = 'rgba(0,0,255,0.07)' %}
{% set color_bar_var = 'rgba(255, 0, 0, 0.07)' %}

{% macro breadcrumbs(folder, file, line) %}
    <ol class="breadcrumb folders">
        {% for ancestor in folder.ancestors | reverse %}
        <li><a href="{{ ancestor | symbol_url }}">{{ ancestor.name | e}}</a></li>
        {% endfor %}
        <li {% if line is undefined %}class="active"{% endif %}>{% if file -%}
            <a href="{{ folder | symbol_url }}">{{ folder.name | e}}</a>
            {% else -%}{{ folder.name | e}}
            {% endif -%}
        </li>

        {% if file %}
        <li class="active">{% if line -%}
            <a href="{{ file | symbol_url }}">{{ file.name | e}}</a>:{{ line }}
            {% else -%}
            {{ file.name | e}}
            {% endif -%}
        </li>
        {% endif %}
    </ol>
{% endmacro %}

{% macro directory(folders, files, show_memory_total=false) -%}
    {% set size_label_1 = 'Flash' if memory_summary else 'Code' %}
    {% set size_label_2 = 'RAM' if memory_summary else 'Static' %}
    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th width="100%">{{ 'Name' | col_sortable(true) }}</th>
                <th>Remarks</th>
                <th class="col_size">{{ size_label_1 | col_sortable(False, 'flash') }}</th>
                <th class="col_size">{{ size_label_2 | col_sortable(False, 'ram') }}</th>
            </tr>
        </thead>
        <tbody>
            {% set group_code_size = folders | symbol_flash_size %}
            {% set group_var_size = folders | symbol_ram_size %}
            {% for folder in (folders | sorted) %}
            <tr>
                <td>
                    <a href="{{ folder | symbol_url }}" class="icon-folder">
                        &nbsp;{{ folder.name | e}}
                    </a>
                </td>
                <td>{% if folder.calls_float_function %}<span class="label label-warning">calls float</span>{% endif %}</td>
                <td class="col_size" style="{{ folder | symbol_flash_size | style_background_bar(group_code_size, color_bar_code) }}">
                    {{ folder | symbol_flash_size | bytes }}
                </td>
                <td class="col_size" style="{{ folder | symbol_ram_size | style_background_bar(group_var_size, color_bar_var) }}">
                    {{ folder | symbol_ram_size | bytes }}
                </td>
            </tr>
            {% endfor %}
            {% if folders | length > 1 and files | length > 0 %}
                <tr>
                <th>&sum; {{ folders|length }} folders</th>
                <th></th>
                <th class="col_size">{{ group_code_size | bytes }}</th>
                <th class="col_size">{{ group_var_size | bytes }}</th>
                </tr>
            {% endif %}

            {% set group_code_size = files | symbol_flash_size %}
            {% set group_var_size = files | symbol_ram_size %}
            {% for file in (files | sorted) %}
            <tr>
                <td>
                    <a href="{{ file | symbol_url }}" class="icon-file">
                        &nbsp;{{ file.name | e}}
                    </a>
                </td>
                <td>{% if file.calls_float_function %}<span class="label label-warning">calls float</span>{% endif %}</td>
                <td class="col_size" style="{{ file | symbol_flash_size | style_background_bar(group_code_size, color_bar_code) }}">
                    {{ file | symbol_flash_size | bytes}}
                </td>
                <td class="col_size" style="{{ file | symbol_ram_size | style_background_bar(group_var_size, color_bar_var) }}">
                    {{ file | symbol_ram_size | bytes}}
                </td>
            </tr>
            {% endfor %}
            {% if files | length > 1 and folders | length > 0 %}
                <tr>
                    <th>&sum; {{ files|length }}  files</th>
                    <th></th>
                    <th class="col_size">{{ group_code_size | bytes}}</th>
                    <th class="col_size">{{ group_var_size | bytes}}</th>
                </tr>
            {% endif %}
        </tbody>
        <tfoot>
            {% if show_memory_total and memory_summary %}
            <tr>
            <th colspan="2">&sum; attributed symbols
                ({{ folders | length }} folder{{ 's' if folders | length != 1}},
                 {{ files | length }} file{{ 's' if files | length != 1}})
            </th>
            <th class="col_size">{{ files | chain(folders) | symbol_flash_size | bytes}}</th>
            <th class="col_size">{{ files | chain(folders) | symbol_ram_size | bytes}}</th>
            </tr>
            <tr>
                <th colspan="2">MAP / ELF total (includes linker data, stack, heap and padding)</th>
                <th class="col_size">{{ memory_summary.flash.total | bytes }}</th>
                <th class="col_size">{{ memory_summary.ram.total | bytes }}</th>
            </tr>
            {% else %}
            <tr>
                <th colspan="2">&sum; over all
                    ({{ folders | length }} folder{{ 's' if folders | length != 1}},
                     {{ files | length }} file{{ 's' if files | length != 1}})
                </th>
                <th class="col_size">{{ files | chain(folders) | symbol_flash_size | bytes}}</th>
                <th class="col_size">{{ files | chain(folders) | symbol_ram_size | bytes}}</th>
            </tr>
            {% endif %}
        </tfoot>

    </table>
{%- endmacro %}

{% macro symbol_remarks(symbol) %}
    {% if symbol.called_from_other_file %}<span class="label label-success">x-module</span>{% endif %}
    {% if symbol.calls_float_function %}<span class="label label-warning">calls float</span>{% endif %}
    {% if symbol.performs_indirect_call %}<span class="label label-danger">indirect call</span>{% endif %}
{% endmacro %}

{% macro symbols(functions, variables) -%}
    {% set size_label_1 = 'Flash' if memory_summary else 'Code' %}
    {% set size_label_2 = 'RAM' if memory_summary else 'Static' %}
    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th width="100%">{{ 'Name' | col_sortable(true) }}</th>
                <th>Remarks</th>
                <th>Run address</th>
                {% if memory_summary %}<th>FLASH load</th>{% endif %}
                <th class="col_size">{{ 'Stack' | col_sortable(true) }}</th>
                <th class="col_size">{{ size_label_1 | col_sortable(False, 'flash') }}</th>
                <th class="col_size">{{ size_label_2 | col_sortable(False, 'ram') }}</th>
            </tr>
        </thead>

        <tbody>

{# functions #}
                {% set group_code_size = (variables + functions) | symbol_flash_size %}
                {% set group_var_size = (variables + functions) | symbol_ram_size %}

                {% for symbol in (functions | sorted) %}
                <tr>
                    <td><a href="{{ symbol | symbol_url }}" class="icon-function">{{ symbol.display_name |e }}</a></td>
                    <td>{{ symbol_remarks(symbol) }}</td>
                    <td><code>{{ symbol.address | address }}</code></td>
                    {% if memory_summary %}<td><code>{{ symbol.flash_address | address }}</code></td>{% endif %}
                    <td class="col_size">{{ symbol.stack_size | bytes }}</td>
                    <td class="col_size" style="{{ symbol | symbol_flash_size | style_background_bar(group_code_size, color_bar_code) }}">
                    {{ symbol | symbol_flash_size | bytes }}
                    </td>
                    <td class="col_size">{{ symbol | symbol_ram_size | bytes }}</td>
                </tr>
                {% endfor %}
            {% if functions | length > 1 and variables | length > 0 %}
                <tr>
                    <th colspan="{{ 5 if memory_summary else 4 }}">&sum; {{ functions | length }} functions</th>
                    <th class="col_size">{{ functions | symbol_flash_size | bytes }}</th>
                    <th class="col_size">{{ functions | symbol_ram_size | bytes }}</th>
                </tr>
            {% endif %}

{# static vars #}
            {% for var in variables | sorted %}
             <tr>
                <td><a href="{{ var | symbol_url }}" class="icon-variable">{{ var.display_name |e }}</a></td>
                <td></td>
                <td><code>{{ var.address | address }}</code></td>
                {% if memory_summary %}<td><code>{{ var.flash_address | address }}</code></td>{% endif %}
                <td></td>
                <td class="col_size" style="{{ var | symbol_flash_size | style_background_bar(group_code_size, color_bar_code) }}">
                    {{ var | symbol_flash_size | bytes }}
                </td>
                <td class="col_size" style="{{ var | symbol_ram_size | style_background_bar(group_var_size, color_bar_var) }}">
                    {{ var | symbol_ram_size | bytes }}
                </td>
            </tr>
            {% endfor %}
        {% if variables | length > 1 and functions | length > 0 %}
            <tr>
                <th colspan="{{ 5 if memory_summary else 4 }}">&sum; {{ variables | length }} variables</th>
                <th class="col_size">{{ variables | symbol_flash_size | bytes }}</th>
                <th class="col_size">{{ variables | symbol_ram_size | bytes }}</th>
            </tr>
        {% endif %}
            </tbody>

        <tfoot>
            <tr>
            <th colspan="{{ 5 if memory_summary else 4 }}">&sum; {{ 'attributed symbols' if memory_summary else 'over all' }}
                ({{ functions | length }} function{{ 's' if functions | length != 1}},
                 {{ variables | length }} variable{{ 's' if variables | length != 1}})

            </th>
            <th class="col_size">{{ group_code_size | bytes}}</th>
            <th class="col_size">{{ group_var_size | bytes}}</th>
            </tr>
        </tfoot>

    </table>
{%- endmacro %}


{% macro function_stats(functions, stack_base=0) -%}
    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th rowspan="2">#</th>
                <th colspan="2" style="text-align: center">Stack</th>
                <th colspan="2" style="text-align: center">Code</th>
                <th rowspan="2" width="100%">Name</th>
            </tr>
            <tr>
                <th class="col_size">&sum; = {{ functions | symbol_stack_size(stack_base) | bytes }}</th>
                <th class="col_size"></th>
                <th class="col_size">&sum;= {{ functions | unique | symbol_code_size | bytes }}</th>
                <th class="col_size"></th>
            </tr>
        </thead>
        <tbody>
        {% for function in functions %}
            <tr>
                <th>{{ loop.index }}</th>
                <td class="col_size">{% if stack_base or not loop.last %}
                    {% if function.stack_size  %}
                    {{ functions[loop.index - 1:] | symbol_stack_size(stack_base) | if_not_none | bytes }}
                    {% endif %}
                    {% endif %}
                </td>
                <td class="col_size">
            {% if function.stack_size %}
                {{ function.stack_size | bytes }} {% if function.stack_qualifiers != "static" %}({{ function.stack_qualifiers }}){% endif %}
            {% endif %}
                </td>
                <td class="col_size">
                    {% if not loop.last %}
                    {% if functions[loop.index - 1:] | unique | symbol_code_size != functions[loop.index:] | unique | symbol_code_size %}
                    {{ functions[loop.index - 1:] | unique | symbol_code_size | bytes }}
                    {% endif %}
                    {% endif %}
                </td>
                <td class="col_size">{{ function | symbol_code_size | bytes }}</td>
                <td><a href="{{ function | symbol_url }}" class="icon-function">{{ function.display_name | e}}</a></td>
            </tr>
        {% endfor %}
        </tbody>
        {% if stack_base %}
        <tfoot>
            <tr>
                <th></th>
                <th class="col_size">{{ stack_base | bytes }}</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
        {% endif %}
    </table>
{%- endmacro %}
